@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    min-height: 60vh;
    /* background-color: #a426f8; */
    background-image: url(https://unsplash.it/1600/500);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1,
p {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

nav {
    min-height: 10vh;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .8);
    position: sticky;
    top: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.1rem;
    min-height: 10vh;
    line-height: 10vh;
    padding: 0 2rem;
    flex: 1;
    text-align: center;
}
nav a:hover {
    background-color: rgba(255, 255, 255, .1);
}

section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section p {
    font-size: 1.2rem;
    font-weight: 500;
}
section:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    /* background-color: #ff5618; */
    background-image: url(https://unsplash.it/1600/800);
}
section:last-of-type {
    background-color: #bdb76b;
    background-image: url(https://unsplash.it/1600/801);
}